
{% extends 'base.html' %}


{% block title %}
    Detalle del Empleado
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<div class="container mt-5">
    <h1 class="text-center mt-5 mb-5">Detalle del empleado</h1>
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Empleado</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="fw-bold">Nombre (s):</span> {{empleado.first_name}}</li>
              <li class="list-group-item"><span class="fw-bold">Apellidos:</span> {{empleado.last_name}}</li>
              <li class="list-group-item"><span class="fw-bold">Trabajo:</span> {{empleado.job}}</li>
              <li class="list-group-item"><span class="fw-bold">Departamento:</span> {{empleado.department.name}}</li>
              <li class="list-group-item"><span class="fw-bold">Hoja de vida:</span><br> {{empleado.hoja_vida|striptags}}</li>
            </ul>
            <div class="card-bod">
              <a href="{% url 'person_app:list_all' %}" class="card-link">Lista empleados</a>
            </div>
          </div>
    </div>

    <form method="GET" class="mt-5 mb-5" action="/update_empleado/{{empleado.id}}">
        <button class="btn btn-success d-grid gap-2 col-4 mx-auto mt-5">Editar</button>
    </form>
</div>

{% endblock content %}
    
