{% extends 'base.html' %}


{% block title %}
    Empleado por departamento
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}
    
    <div class="container mt-5">
        <h1 class="text-center mt-5 mb-5">Empleados del departamento ({{department}})</h1>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th>#Id</th>
                <th>Nombre(s)</th>
                <th>Apellidos(s)</th>
                <th>Trabajo</th>
                <th>Departamento</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
                
                {% for empleado in empleados %}
                   <tr>
                       <td>{{empleado.id}}</td>
                       <td>{{empleado.first_name}}</td>
                       <td>{{empleado.last_name}}</td>
                       <td>{{empleado.job}}</td>
                       <td>{{empleado.department.name}}</td>
                       <td>
                        <div class="row">
                            <div class="col-md-4">
                                <form action="/update_empleado/{{empleado.id}}">
                                    <button type="submit" class="btn btn-warning">Editar  <box-icon name='edit-alt'></box-icon></button>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <form>
                                    <button type="submit" class="btn btn-danger">Eliminar  <box-icon name='trash' ></box-icon></button>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <form action="/ver_empleado/{{empleado.id}}">
                                    <button type="submit" class="btn btn-info">Ver más  <box-icon name='user-pin' ></box-icon></button>
                                </form>
                            </div>
                        </div>
                       </td>
                   </tr>
                {% endfor %}
                    
                
            </tbody>
          </table>
    <ul>
        <!-- Paginación -->
        
        {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Atrás</a>
                        </li>
                    {% endif %}
                        
                    
                    {% for page in paginator.page_range %}
                        
                    
                        {% ifequal  page page_obj.number %} 
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{page}}</span>
                            </li>
                        {% else %}
                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="?page={{page}}">{{page}}</a>
                            </li>
                        {% endifequal %}
                        
                        
                    {% endfor %}
                    
    
                
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a>
                    </li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}
            
    </div>
    
{% endblock content %}
    