{% extends 'base.html' %}

{% block title %}
    Listar Empleados
{% endblock title %}
    

{% block content %}
{% include 'includes/header.html' %}

<div class="container mt-5">
    <h1 class="text-center mt-5 mb-5">Empleados</h1>
    <div class="row justify-content-between">
        <div class="col-md-6">
            <form class="d-flex mb-3">{% csrf_token %}      
            <input class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Search" id="kword" name="kword">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
        <div class="col-md-4">
            <form action="/add_empleado"><button class="btn btn-success">Nuevo</button></form>
        </div>
    </div>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th>#Id</th>
            <th>Nombre(s)</th>
            <th>Apellidos(s)</th>
            <th>Trabajo</th>
            <th>Departamento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            
            {% for empleado in empleados %}
               <tr>
                   <td>{{empleado.id}}</td>
                   <td>{{empleado.first_name}}</td>
                   <td>{{empleado.last_name}}</td>
                   <td>{{empleado.get_job_display}}</td>
                   <td>{{empleado.department.name}}</td>
                   <td>
                    <div class="row">
                        <div class="col-md-4">
                            <form action="/update_empleado/{{empleado.id}}">
                                <button type="submit" class="btn btn-warning">Editar  <box-icon name='edit-alt'></box-icon></button>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <form action="/delete_empleado/{{empleado.id}}">
                                <button type="submit" class="btn btn-danger">Eliminar  <box-icon name='trash' ></box-icon></button>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <form action="/ver_empleado/{{empleado.id}}">
                                <button type="submit" class="btn btn-info">Ver más  <box-icon name='user-pin' ></box-icon></button>
                            </form>
                        </div>
                    </div>
                   </td>
               </tr>
            {% endfor %}
                
            
        </tbody>
      </table>
<ul>
    <!-- Paginación -->
    
    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Atrás</a>
                    </li>
                {% endif %}
                    
                
                {% for page in paginator.page_range %}
                    
                
                    {% ifequal  page page_obj.number %} 
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{page}}</span>
                        </li>
                    {% else %}
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="?page={{page}}">{{page}}</a>
                        </li>
                    {% endifequal %}
                    
                    
                {% endfor %}
                

            
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a>
                </li>
            {% endif %}
            </ul>
        </nav>
    {% endif %}
        
</div>

{% endblock content %}
    

